// Content Block Spacing Variables
$content-margin:				0.625rem !default;
$content-padding:				0.938rem !default;

// Border Radius
$core-border-radius:			rem(3) !default;

// Padding
$section-padding:			1.5rem;

// Offcanvas
$offcanvas-width:			17rem !default;