{% assets with { priority: 10 } %}
    {% block head_stylesheets -%}
        <link rel="stylesheet" href="{{ url('gantry-assets://css/font-awesome.min.css') }}" type="text/css"/>
        {# <link rel="stylesheet" href="{{ url('gantry-engine://css-compiled/nucleus.css') }}" type="text/css"/> #}
      {#   {% for css in gantry.theme.configuration.css.persistent|default(gantry.theme.configuration.css.files) %}
            {%- set url = url(gantry.theme.css(css)) %}{% if url %}
            <link rel="stylesheet" href="{{ url(gantry.theme.css(css)) }}" type="text/css"/>
        {% endif %} 
        {%- endfor %} #}
    {% endblock -%}    


    {% block head_platform %}{% endblock %}

{#     {% block head_overrides -%}
        {% for css in gantry.theme.configuration.css.overrides %}
            {%- set url = url(gantry.theme.css(css)) %}{% if url %}
            <link rel="stylesheet" href="{{ url(gantry.theme.css(css)) }}" type="text/css"/>
        {% endif %}
        {%- endfor %}
    {% endblock -%} #}
{% endassets -%}

{%- set atoms %}
    {% if gantry.config.page.head.atoms %}
        {% for atom in gantry.config.page.head.atoms %}
            {% try %}
                {% include '@particles/' ~ atom.type ~ '.html.twig' with { particle: atom.attributes } %}
            {% catch %}
                {# TODO: Add message if atom is missing. #}
            {% endtry %}
        {% endfor %}
    {% endif %}

    {# {% if gantry.config.page.assets %}
        {% include '@particles/assets.html.twig' with { particle: gantry.config.page.assets|merge({'enabled': 1 }) } %}
    {% endif %} #}
{% endset -%}

<head>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% if gantry.config.page.head.meta -%}
            {% for attributes in gantry.config.page.head.meta -%}
                {%- for key, value in attributes %}
                    <meta name="{{ key|e }}" property="{{ key|e }}" content="{{ value|e }}" />
                {% endfor -%}
            {%- endfor -%}
        {%- endif -%}

        {# {% if gantry.config.page.assets.favicon %}       #}
            {% include '@particles/favicon.html.twig' %}
        {# {% endif %} #}

    {% endblock %}

    {%- block head_title -%}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Title</title>
    {%- endblock %}

    {# FIXME Joomla prioritises JS #}
    <link rel="stylesheet" href="{{ url('gantry-theme://app.css') }}">
    <script src="{{ url('gantry-theme://app.js') }}"></script>

    {% block head_application -%}
        {{ gantry.styles('head')|join("\n")|raw }}
        {{ gantry.scripts('head')|join("\n")|raw }}
    {%- endblock %}
    

{#     {% block head_ie_stylesheets -%}
        <!--[if (gte IE 8)&(lte IE 9)]>
        <script type="text/javascript" src="{{ url('gantry-assets://js/html5shiv-printshiv.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url('gantry-engine://css/nucleus-ie9.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url('gantry-assets://js/matchmedia.polyfill.js') }}"></script>
        <![endif]-->
    {% endblock -%} #}

    {% block head %}{% endblock %}
   {#  {% block head_custom %}
        {% if gantry.config.page.head.head_bottom %}
        {{ gantry.config.page.head.head_bottom|raw }}
        {% endif %}
    {% endblock %} #}
</head>