{%- do gantry.theme.setLayout() -%}
{%- set segments = gantry.theme.segments -%}

{%- set content %}
		{% if gantry.theme.hasContent() %}
				{% block content %}
				{% endblock %}
		{% endif %}
{% endset -%}

{%- set offcanvas = null -%}
{%- for segment in segments if segment.type == 'offcanvas' %}
		{%- set offcanvas = segment -%}
{% endfor -%}

{%- set page_offcanvas %}
		{% block page_offcanvas %}
				{% if offcanvas %}
						{% include '@nucleus/layout/' ~ offcanvas.type ~ '.html.twig' with { 'segment': offcanvas } -%}
				{% endif %}
		{% endblock %}
{% endset -%}

{%- set page_offcanvas = page_offcanvas|trim ?: '' %}
{%- set offcanvas_position = page_offcanvas ? offcanvas.attributes.position|default('g-offcanvas-left') : '' -%}

{%- set page_layout %}
		{% block page_layout %}
		{% for segment in segments if segment.type != 'offcanvas' %}
				{% include '@nucleus/layout/' ~ segment.type ~ '.html.twig' with { 'segments': segment.children } %}
		{% endfor %}
		{% endblock %}
{% endset -%}

{%- set page_top %}
		{% block page_top %}
		{% endblock %}
{% endset -%}

{%- set page_bottom %}
		{% block page_bottom %}
		{% endblock %}
{% endset -%}

{# Head and footer needs to come last because of any of the above blocks may have CSS or JavaScript in them #}

{%- set page_head %}
		{% block page_head -%}
				{% include 'partials/page_head.html.twig' %}
		{%- endblock %}
{% endset -%}

{%- set page_footer %}
		{% block page_footer %}
				{{ gantry.scripts('footer')|join("\n    ")|raw }}
		{% endblock %}
{% endset -%}

{%- block page -%}
<!DOCTYPE {{ gantry.config.page.doctype|default('html')|raw }}>
<html{{ gantry.page.htmlAttributes|raw }}>
		{{ page_head|raw }}

		{% block page_body -%}
		{# <body{{ gantry.page.bodyAttributes({'class': [offcanvas_position, gantry.page.preset, 'g-style-' ~ gantry.theme.preset]})|raw }}> #}
		<body>
	

			{# DEBUG #}
			{# {{ gantry.hero_background.dump(gantry.page.baseUrl) }} #}
			{# 	<pre>
					{{ gantry.hero_background.dump(gantry.page) }}				
				</pre>  #}


				{# {{ gantry.config.page.body.body_top|raw }} #}
				{# {{ page_offcanvas|raw }} #}

{#         <div id="g-page-surround">
						{% if page_offcanvas|trim %}
						<div class="g-offcanvas-hide g-offcanvas-toggle" data-offcanvas-toggle><i class="fa fa-fw fa-bars"></i></div>
						{% endif %} #}
						{{ page_top|raw }}
						{{ page_layout|raw }}
						{{ page_bottom|raw }}
				{# </div> #}

				{# {{ page_footer|raw }}
				{{ gantry.config.page.body.body_bottom|raw }} #}

				{% if not gantry.page.home %}
					<script type="text/javascript" charset="utf-8">		
						$(".hero").backstretch("{{ gantry.hero_background.image() }}");
					</script>        
				{% endif %}		
				
				<script type="text/javascript">
					if (typeof jQuery.fn.live == 'undefined' || !(jQuery.isFunction(jQuery.fn.live))) {
						jQuery.fn.extend({
								live: function (event, callback) {
									 if (this.selector) {
												jQuery(document).on(event, this.selector, callback);
										}
								}
						});
					}
				</script>

				{% if gantry.page.home %}
					<script type="text/javascript" charset="utf-8">			
						//Flex slider
						(function($) {
							jQuery(window).load(function() {
								// Vimeo API nonsense
								var player = document.getElementById('player_1');		        
								// console.log(player);
								
								if(player){
									$f(player).addEvent('ready', ready);
								 
									function addEvent(element, eventName, callback) {
										if (element.addEventListener) {
											element.addEventListener(eventName, callback, false)
										} else {
											element.attachEvent(eventName, callback, false);
										}
									}
								 
									function ready(player_id) {
										var froogaloop = $f(player_id);
										froogaloop.addEvent('play', function(data) {
											$('.flexslider').flexslider("pause");
										});
										froogaloop.addEvent('pause', function(data) {
											$('.flexslider').flexslider("play");
										});
									}       
								 
									// Call fitVid before FlexSlider initializes, so the proper initial height can be retrieved.
									$(".flexslider")
										.fitVids()
										.flexslider({
											animation: "slide",
											useCSS: false,
											animationLoop: false,
											smoothHeight: true,
											slideshow: true,
											slideshowSpeed: 5000,
											animationSpeed: 600,

											// Usability features
											pauseOnAction: true,            
											video: true,
											touch: true,
											
											// Primary Controls
											prevText: "",
											nextText: "",  
											
											// Secondary Navigation
											keyboard: true,
											before: function(slider){
												$f(player).api('pause');
											}
									});
										
								}else{

									$(".flexslider")
										.flexslider({
											animation: "slide",
											useCSS: false,
											animationLoop: false,
											smoothHeight: true,
											slideshow: true,
											slideshowSpeed: 5000,
											animationSpeed: 600,

											// Usability features
											pauseOnAction: true,            
											video: true,
											touch: true,
											
											// Primary Controls
											prevText: "",
											nextText: "",  
											
											// Secondary Navigation
											keyboard: true
									});
								}
							});
						})(jQuery);
					</script>       
				{% endif %}		
		</body>
		{%- endblock %}

</html>
{% endblock -%}
{% do gantry.platform.finalize() -%}
