{% extends "@nucleus/page_head.html.twig" %}

{% block head_title -%}
{%- endblock %}

{% block head_application -%}
    <jdoc:include type="head" />
{%- endblock %}

{% block head_platform -%}
    {{ parent() }}
    {% if gantry.theme.joomla %}
        {# <link rel="stylesheet" href="{{ url('gantry-assets://css/bootstrap-gantry.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url('gantry-engine://css-compiled/joomla.css') }}" type="text/css" /> #}
        {# {% if gantry.page.direction == 'rtl' %}
        <link rel="stylesheet" href="{{ url('media/jui/css/bootstrap-rtl.css') }}" type="text/css" />
        {% endif %}
        <link rel="stylesheet" href="{{ url('media/jui/css/icomoon.css') }}" type="text/css" /> #}
    {% endif %}
    {% if gantry.debug %}
        <link rel="stylesheet" href="{{ url('media/cms/css/debug.css') }}" type="text/css" />
    {% endif %}
{%- endblock %}

{% block head -%}
    {{ parent() }}
{%- endblock %}
