.cbutton {
  position: relative;
  display: inline-block;
  margin: 1em;
  padding: 0;
  border: none;
  background: none;
  color: #286aab;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton.cbutton--click,
.cbutton:focus {
  outline: none;
  color: #3c8ddc;
}

.cbutton__icon {
  display: block;
}

.cbutton__text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.cbutton::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none;
}

.cbutton--box {
  width: 24px;
  height: 24px;
  border: 4px solid rgb(22, 35, 47);
}

.cbutton--box-color-1 {
  background: #ff8b00;
}

.cbutton--box-color-2 {
  background: #b61854;
}

.cbutton--box-color-3 {
  background: #1d5cab;
}

.cbutton--box-color-4 {
  background: #f2438c;
}

.cbutton--box-color-5 {
  background: #ff6414;
}

.cbutton--box-color-6 {
  background: #5ed500;
}

.cbutton--box-color-7 {
  background: #0077ff;
}

.cbutton--box-color-8 {
  background: #7bff00;
}

.cbutton--box-color-9 {
  background: #fff;
}

/* Individual Effects */

/* Jelena */
.cbutton--effect-jelena::after {
  border: 2px solid rgba(111,148,182,0.8);
}

.cbutton--effect-jelena.cbutton--click::after {
  -webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
  animation: anim-effect-jelena 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}





/* Marko */
.cbutton--effect-marko::after {
  box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
}

.cbutton--effect-marko.cbutton--click::after {
  -webkit-animation: anim-effect-marko 0.5s forwards;
  animation: anim-effect-marko 0.5s forwards;
}

@-webkit-keyframes anim-effect-marko {
  0% {
    opacity: 1;
  }
  50% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes anim-effect-marko {
  0% {
    opacity: 1;
  }
  50% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    opacity: 1;
  }
  100% {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0.1);
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}







/* Buttons standard */

.btn, .btn-full-width {
  display: inline-block;
  margin: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0px solid transparent;
  /*FIXME color*/
  border-left: 7px solid $brand-feature;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none;

  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.16);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-full-width{
  width:100%;
}
.btn-default:hover {
  background-color: $bg-light;
}

.btn-primary {
  /*FIXME color*/
  color: $fg-light;
  background-color: #000000;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0,0,0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0,0,0,0.44);    
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.03);
  
}

.btn-sm{
  padding: 2px 21px;
  font-size: 14px;
}

.btn-lg{
    font-size: 20px;
}

.btn-xlg {
    font-size: 24px;
    padding: 14.5px 20px;
}

.button:hover,
.readon:hover,
.readmore:hover,
button.validate:hover,
#member-profile a:hover,
#member-registration a:hover,
.formelm-buttons button:hover,
.btn-primary:hover{
  color: $fg-light;
  background-color: $bg-light;
  border-color: rgba(0, 0, 0, 0); 
  background-image:none;
  text-shadow: none;
}

/* Light */
.btn-primary-light {
  color: $fg-light;
  background-color: #FCFCFC;
}

.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light:active,
.btn-primary-light.active,
.open > .dropdown-toggle.btn-primary-light {
  color: #ffffff;
  background-color: $bg-light;
  border-color: rgba(0, 0, 0, 0);
}