.feature
	min-height: 21rem
	border-right: darken( $gray-lighter, 10% )
	border-right-width: .09rem
	border-right-style: solid
	padding-left: .4rem
	padding-right: 0
	padding-bottom: 22rem
	position: relative
	overflow: hidden

	.categoryTitle
		text-align: left
		font-size: .8rem
		font-weight: normal		
		font-family: $font-family-sans-serif
		font-style: italic
		padding-right: .4rem
	
	.articleTitle
		font-family: $font-family-serif
		font-size: 1.2rem
		font-weight: 700
		padding-right: .4rem
		text-align: right

	.articleImage
		position: absolute
		right: -22px
		padding-top: 1.5rem
		&.tilt
			@include rotate($featuredImgRotate)