.footer
  padding-top: 40px
  color: #797476
  font-size: 12px

  h2
    color: lighten( $gray-light, 20% )
    border-bottom: none
    box-shadow: none
    text-shadow: none
    padding: 0
    margin: 0
    text-transform: uppercase
    font-size: 19px
    line-height: 25px
  
  a
    transition: color 0.2s ease-out 0s
    text-decoration: none
    color: $gray-light
    text-decoration: none
    background: none

  a:hover
    color: $gray-dark //@footerLinkHoverColor   

.contact-info-title
  font-weight: 500
  text-transform: uppercase
  color: #949494
  width: 45px
  display: inline-block
  float: left
  &.medium
    width: 72px
  &.long
    width: 220px

.caption-contact-information
  font-weight: 500
  text-transform: uppercase
  color: $gray-lighter //@footerCaptionColor   
  width: 45px
  display: inline-block
  float: left
  &.medium
    width: 72px
  &.long
    width: 105px

.contact-info-detail
  // font-size: 14px
  text-align-last: right

  
.company-details 
  img 
    float: right
    opacity: 0.4
    filter: alpha(opacity=40) /* For IE8 and earlier */

  img:hover 
    float: right
    opacity: 1.0
    filter: alpha(opacity=100) /* For IE8 and earlier */


.copyright 
  padding-bottom: 40px
  padding-top: 15px

.social 
  &.fa
  font-size: 2rem