legend {
	color: #333333;
}

legend small {
	color: #999999;
}

.input-prepend .chzn-container-single .chzn-single,
.input-append .chzn-container-single .chzn-single {
	border-color: $base-border-color;
}

.input-prepend .chzn-container-single .chzn-drop,
.input-append .chzn-container-single .chzn-drop {
	border-color: $base-border-color;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: $white;
	border: 1px solid $base-border-color;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	@include transition(border 0.2s linear, box-shadow 0.2s linear);
}

#g-header, #g-navigation {
	.search {
		form {
			margin-bottom: 0;
		}
		input {
			margin-bottom: 0;
			border: 0;
		}
	}
}

// Mailto and Print Windows
.view-mailto, .body-only {
    #g-page-surround {
        box-shadow: none;
    }
}

