h1
	font-weight: 700
	&.title
		padding-top: 2rem
		text-align: center

p
	&.lead
		text-align: center
		padding-bottom: 2rem

.hero
	padding: 2rem
	// @include gradient-directional($start-color: #42162A, $end-color: #4D2437, $deg: 45deg)
	// @include gradient-directional($start-color: $gray-dark, $end-color: darken($gray-dark, 3%), $deg: 45deg)
	// background-image: url("img/hero_bg.jpg")
	background-color: $gray-dark
	color: $gray-lightest
	min-height: $hero-space
	border-top: 1px solid $gray-darker
	border-bottom: 1px solid $gray-darker	

.what
	padding-top: 6rem
	padding-bottom: 6rem
	text-align: center
	p, .lead
		font-size: 1.2em


.container-fluid	
	&.dark
		background-color: lighten($gray-dark, 2%)
		-moz-box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.3) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.3) inset
		-webkit-box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.3) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.3) inset
		box-shadow: 0 22px 22px -22px rgba(0, 0, 0, 0.3) inset, 0 -22px 22px -22px rgba(0, 0, 0, 0.3) inset
		p, .lead
			font-size: .875rem
			color: $gray-lightest
			border: 0
			border-left: 1px solid rgba(255, 255, 255, .8)
			padding-left: 2rem
			padding-top: 1rem
			padding-bottom: 1rem
			margin-top: 1rem
			margin-bottom: 1rem									

.image-with-label
	padding-top: 1rem
	text-align: center
	h1
		margin-top: -1.2rem
		text-align: center
		font-weight: 600
		color: $gray-lightest
		font-size: 2rem

.v-align
	display: flex
	align-items: center
	justify-content: center// vertical align
	min-height: 16em

.vr
	width: 35px
	margin-top: 1.25rem
	margin-bottom: 1.25rem
	border: 0
	border-top: 1px solid rgba(0, 0, 0, .3)
	// height: 40px
	// border-left:1px solid #000
	// border-top:0
	// display:inline
	@include rotate(90)