// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar { 
  position: relative;
  padding: 0;
  line-height: $navbar-line-height;
  border-radius: 0;
  background-color: $bg-light;
}


// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.

// A static, full width modifier with no rounded corners.
.navbar-full {
  z-index: $zindex-navbar;

}

// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar-sticky-top {
  position: sticky;
  top: 0;
  z-index: $zindex-navbar-sticky;
  width: 100%;

}


//
// Brand/project name
//

.navbar-brand {
  float: left;
  padding-top:    .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: $font-size-lg;

  > img {
    display: block;
  }
}


.navbar-divider {
  float: left;
  width: 1px;
  padding-top: .425rem;
  padding-bottom: .425rem;
  margin-right: $navbar-padding-horizontal;
  margin-left:  $navbar-padding-horizontal;
  overflow: hidden;

  &::before {
    content: "\00a0";
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggler {
  padding: .5rem .75rem;
  font-size: $font-size-lg;
  line-height: 1;
  background: none;
  border: $border-width solid transparent;
}

// Navigation
//
// Custom navbar navigation built on the base `.nav` styles.

.navbar-nav {
  font-weight: 700;

  .nav-item {
    float: left;
    line-height: 4rem;    
  }

  .call-now{
    padding-top: .7rem;
    font-size: 1.5em;
    color: $fg-light;    
  }

  .nav-link {
    display: block;
    padding-top:    .7rem;
    // padding-bottom: .425rem;

    + .nav-link {
      margin-left: 1rem;
    }
  }

  .nav-item + .nav-item {
    margin-left: 1rem;
  }
}

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-active-color;

  }

  .navbar-nav {

    .nav-link {
      color: $fg-light;
      &:hover{
        color: $gray-lightest;
      }
    } 
  
    .active{
      .nav-link {
        color: $gray-lightest;
          &:hover{
            color: $gray-lightest;
          }
        }
      }

  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-active-color;

  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

    }

  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}