// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;
  font-size: $nav-top-font-size;

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;
  }
}

// Nav inline
.nav-inline {
  .nav-item {
    display: inline-block;
  }

  .nav-item + .nav-item,
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}


//
// Dropdowns
//

.nav-tabs .dropdown-menu {
  // Make dropdown border overlap tab border
  margin-top: -1px;
  // Remove the top rounded corners here since there is a hard edge above the menu
}


.nav-vertical{
  padding-top: 46px;
  padding-left: 2rem;

  .nav-item {
    display: block;    
  }

  .nav-item + .nav-item,
  .nav-link + .nav-link, 
  .nav-link {
    padding: 0;
    margin: 0;
    float: none;
    color: $gray-dark;    
    font-size: $font-size-base; 
  }

  .nav-item-parent{
    font-size: $font-size-lg; 
    color: $gray-dark;    
  }
}
