// Success stories, Single page

.container	
	&.page 
		background-color: white
		@include box-shadow(0px, 25px, 25px, rgba(0,0,0,.25))

		&.header
			color: $gray-darker
			margin-top: -7rem
			background-color: $base-background
			min-height: 4rem

		&.body
			padding: 1rem

		&.bottom
			border-top: thin solid lighten($gray-light, 25%)
			padding-top: initial
			// background-color: rgba(255,255,255,0.2)
			background-color: transparentize($base-background, .8)
			box-shadow: none

.row
	&.page-bottom-nav
		background-color: transparentize($base-background, .4)
		// background-color: rgba(255,255,255,0.6)
		margin-left: -30px
		margin-right: -30px
		padding: 2.5rem
	&.story
		p
			padding: 0
			margin: 0

.item-seperator-padding
	padding: 2rem

.item-seperator
	border-bottom: thin #CCC dashed

.item-thumb-left
	margin-left: -12rem
	padding-top: 2rem
	&.story
		img
			border-left: .5rem solid $brand-feature

.item-thumb-right
	float: right

ul
	&.attrib
		li
			list-style-type: disc
			margin: 0
			margin-left: -1.5em
			padding: 0

.brand
	color: $brand-feature
	margin: 0