{% extends '@nucleus/partials/particle.html.twig' %}

{% set start_date = particle.date.start|trim in ['now', ''] ? 'now'|date('Y') : particle.date.start|e %}
{% set end_date = particle.date.end|trim in ['now', ''] ? 'now'|date('Y') : particle.date.end|e %}

{% block particle %}
<div class="row copyright"><hr>
  <p>&nbsp;</p>
  <div class="col-sm-8">Copyright &copy; {% if (start_date != end_date) %}{{ start_date|e }} - {% endif %}{{ end_date|e }} {{ particle.owner|raw }}</div>
  <div class="col-sm-4 text-right"><a href="http://interludic.com.au">Site handmade in Melbourne by Interludic</a>
  </div>
</div><!-- ./copyright -->



{% endblock %}
