{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	{% if particle.cta %}
		<ul class="nav navbar-nav">
		  <li class="nav-item pull-xs-right hidden-md-down">           
	      <p class="call-now">{{ particle.cta|raw }}</p>
	    </li>
    </ul>
  {% endif %}
{% endblock %}