{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

  <div class="col-sm-5">
    <div class="rt-block ">
      <div class="module-surround">
      <div class="module-title">{% if particle.headline %}<h2 class="title">{{ particle.headline|raw }}</h2></div>{% endif %}
      <div class="module-content">
      <div class="custom">
        <p class="company-details">
          {% set image = url(particle.image) %}
          {% if image %}
          <img src="{{ url(particle.image) }}" alt="{{ particle.text }}" />
          {% endif %}

          {% if particle.description %}{{ particle.description|raw }}{% endif %}</p>
      </div>
      </div>
      </div>
    </div>
  </div>

{% endblock %}