{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

	 <div class="row">
      <div class="col-md-12">
        <div class="rt-block ">
          <div class="module-surround">
            <div class="module-title"><h2 class="title">Customer Service</h2></div>
            <div class="module-content">
              <div class="row contactinfo">
                <div class="col-sm-3"> 
                  {% if particle.phone %}
                    <span class="contact-info-title">call</span>
                    <span class="contact-info-detail">{{ particle.phone|raw }}</span><br> 
                  {% endif %}

                  {% if particle.fax %}
                    <span class="contact-info-title">fax</span>
                    <span class="contact-info-detail">{{ particle.fax|raw }}</span><br> 
                  {% endif %}

                  {% if particle.email %}
                    <span class="contact-info-title">email</span>
                    <span class="contact-info-detail">
                      <a href="mailto:{{ particle.email|raw }}">{{ particle.email|raw }}</a>
                    </span><br> 
                  {% endif %}

                </div>
                
                <div class="col-sm-5">
                  {% if particle.location %}                  
                    <div class="contact-info-title medium clearfix ">Location</div>
                    <span class="contact-info-detail">{{ particle.location|raw }}</span>
                  {% endif %}                  
                </div>

                <div class="col-sm-4"> 
                  {% if particle.open %}                                    
                    <span class="contact-info-title long">{{ particle.open|raw }}</span> 
                  {% endif %}                                      
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./end col -->
    </div> <!-- ./end customer service row -->

{% endblock %}