{% try %}
{% set menu = gantry.menu.instance(particle) %}
{% catch %}
<div class="alert alert-error">{{ e.getMessage }}</div>
{% endtry %}

{% macro getCustomWidth(item, menu, mode, dropdown_type) -%}
    {%- if (item.width|default('auto') != 'auto') and not (dropdown_type == 'fullwidth' and item.level > 1) -%}
        {%- if mode == 'item' %} style="position: relative;"
        {%- elseif mode == 'submenu' %} style="width:{{ item.width|e }};" data-g-item-width="{{ item.width|e }}"
        {%- endif %}
    {%- endif %}
{%- endmacro %}

{% macro displayParticle(item, context) %}
    {% if item.options.particle.enabled is null or item.options.particle.enabled %}
        {% set context = context|merge({ particle: item.options.particle }) %}
        {# {% set classes = item.options.block.class %} #}
        {# <div class="menu-item-particle{{ classes ? ' ' ~ classes }}"> #}
        {% include ['particles/' ~ item.particle ~ '.html.twig', '@particles/' ~ item.particle ~ '.html.twig']
        ignore missing with context only %}
        {# </div> #}
    {% endif %}
{% endmacro %}

{% macro displayTitle(item) %}
    {% if not item.icon_only or not (item.image or item.icon) %}
        {{ item.title|e }}
        {% if item.subtitle %}
            {# <span class="g-menu-item-subtitle"></span> #}
            <br/>
            {{ item.subtitle|e }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro displayItem(item, menu, context, dropdown_type) %}
    {% import _self as SELF %}
    {% if item.visible %}
        {% set title = item.icon_only ? ' title="' ~ item.title|e ~ '"' %}
        {% set active = menu.isActive(item) ? ' active' %}
        {% set dropdown = item.level == 1 ? ' g-' ~ item.getDropdown()|e %}
        {% set parent = item.children ? ' g-parent' %}
        {% set target = item.target != '_self' ? ' target="' ~ item.target|e ~ '"' %}
        {% set rel = item.rel ? ' rel="' ~ item.rel ~ '"' %}        

        {% if item.type == 'particle' %}
            {# particle start
            {{ SELF.displayParticle(item, context) }}
            particle stop #}
        {% else %}

            <li class="item-{{ item.id|e }} {{ item.type|e }} :
                {% if not item.dropdown_hide %}{{ parent|raw }}{% endif %}{{ active|raw }}{{ dropdown|raw }} 
                {% if item.url and item.children %}{% if not item.dropdown_hide %}g-menu-item-link-parent{% endif %}{% endif %} "
                    {{ item.class|e|default('') }}
                    {{- SELF.getCustomWidth(item, menu, 'item', dropdown) }}
                    {%- if context.particle.renderTitles|default(0) %} title="{{ item.title|e }}"{% endif %}>

                {% if item.url %}<a class="item-{{ item.id|e }} {{ item.anchor_class ? ' ' ~ item.anchor_class }}" href="{{ item.url|e }}{{ item.hash ? item.hash|e : '' }}"{{ (title ~ target ~ rel)|raw }}>{{ SELF.displayTitle(item) }}         
                {% endif %}
                
                {% if item.url %}</a>
                {% else %}
                    {% if (item.children) -%}
                        <li class="item-{{ item.id|e }}">{{ SELF.displayTitle(item) }}
                            <ul role="menu" class="{{ item.anchor_class ? ' ' ~ item.anchor_class }}">
                                {{ SELF.displaySubmenu(item, menu, context, dropdown_type) }}
                            </ul>
                        </li>
                    {%- endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{# {% macro displayContainers(item, menu, context, dropdown_type) %}
    {% import _self as SELF %}
        {% set groups = item.getDropdown() == 'standard' ? [item] : item.groups %}
        {% for column, items in groups %}
            {{ SELF.displayItems(items, menu, context, dropdown_type) }}
        {% endfor %}
{% endmacro %} #}

{% macro displayItems(items, menu, context, dropdown_type) %}
    {% import _self as SELF %}
    {% for item in items %}
        {% if item.level == 1 %}{% set dropdown_type = item.dropdown %}{% endif %}
        {{ SELF.displayItem(item, menu, context, dropdown_type) }}
    {% endfor %}
{% endmacro %}

{% macro displaySubmenuItems(items, menu, context, dropdown_type) %}
    {% import _self as SELF %}
    {% for item in items %}
        {# {% if item.level == 1 %}{% set dropdown_type = item.dropdown %}{% endif %} #}
        <li class="item-{{ item.id }}">
        {% if item.url %}
            <a class="item-{{ item.id|e }} {{ item.anchor_class ? ' ' ~ item.anchor_class }}" href="{{ item.url|e }}{{ item.hash ? item.hash|e : '' }}"{{ (title ~ target ~ rel)|raw }}>{{ SELF.displayTitle(item) }}</a>                 
        {% else %}        
            {{ SELF.displayTitle(item) }}
        {% endif %}        
        </li>
        {# {{ SELF.displayItem(item, menu, context, dropdown_type) }} #}
    {% endfor %}
{% endmacro %}

{% macro displaySubmenu(item, menu, context, dropdown_type) %}
    {% import _self as SELF %}
    {% if not item.dropdown_hide %}
        {% set animation = context.gantry.config.get('styles.menu.animation')|default('g-fade') %}
        {% if ((item.groups|length == 1 and not dropdown_type == 'fullwidth') or dropdown_type == 'standard') %}{% set dropdown_dir = 'g-dropdown-' ~ item.dropdown_dir|default('right') %}{% endif %}
        {# <ul class="g-dropdown g-inactive {{ animation }} {{ dropdown_dir }}"{{ SELF.getCustomWidth(item, menu, 'submenu', dropdown_type) }}> #}
        {{ SELF.displaySubmenuItems(item, menu, context, dropdown_type) }}
    {% endif %}
{% endmacro %}

{% if menu.root.count() %}

    <div class="row"><hr>
      <div class="col-sm-3">
        
        <div class="rt-block ">
          <div class="module-surround">
            <div class="module-title"><h2 class="title">Main Menu</h2></div>
              <div class="module-content">
                <div class="list-unstyled">

                  <ul class="list-unstyled"> 
                    {{ _self.displayItems(menu.root, menu, _context) }}
                  
                    {# <li class="item-193 dropdown"><a class="item-193 dropdown" href="#">Services 1</a>
                        <ul role="menu">
                            <li class="item-261"><a class="item-261" href="#">Services a.</a></li>
                            <li class="item-262"><a class="item-262" href="#">Services b.</a></li>
                            <li class="item-263"><a class="item-263" href="#">Services c.</a></li>
                        </ul>
                    </li>
                    <li class="item-194"><a class="item-194" href="#">Service 2</a></li>
                    <li class="item-195"><a class="item-195" href="#">Service 3</a></li> #}
                  </ul> 

                </div> 
              </div> 
            </div> 
          </div>
          
      </div>

      {#  #}
{# <nav class="g-main-nav" role="navigation"{{ particle.mobileTarget ? ' data-g-mobile-target' : '' }}>
    <ul class="g-toplevel">
        {{ _self.displayItems(menu.root, menu, _context) }}
    </ul>
</nav> #}
{% endif %}

<!-- ./footer menu end -->