{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}


	<div class="container-fluid dark">
      <div class="container">
        <div class="row get-started">
          <div class="col-md-3">
            <div class="v-align">
              <div class="image-with-label">              
                {% if particle.image %}<img src="{{ url(particle.image) }}" alt="{{ particle.headline|e }}" />{% endif %}                 
          			{% if particle.headline %}<h1>{{ particle.headline|raw }}</h1>{% endif %} 
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="v-align">
              {% if particle.description %}<p class="lead">{{ particle.description|raw }}</p>{% endif %}
            </div>
          </div>

          <div class="col-md-3">
            <div class="v-align">
              {% if particle.linktext %}<a href="{{ particle.link|e }}" class="btn btn-lg btn-primary-light" role="button">{{ particle.linktext|e }}</a>{% endif %}
            </div>
          </div>

        </div><!-- ./row -->
      </div>
    </div><!-- ./get-started -->

{% endblock %}