{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	
	{% if particle.headline %}<h1 class="title">{{ particle.headline|raw }}</h1>{% endif %}
	{% if particle.description %}<p class="lead">{{ particle.description|raw }}</p>{% endif %}
					
{% endblock %}