{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	
  <div class="container">
      <div class="row features">
       
        {% for feature in particle.items %} 
          <div class="col-xs-12 col-sm-6 col-md-3 feature">
            <div class="articleTitle"><span class="categoryTitle">{{ feature.type|raw }}</span>{{ feature.headline|raw }}</div>
            <div class="articleImage {% if feature.tilt %}tilt{% endif %}">
              {% if feature.link %}<a href="{{gantry.siteUrl()}}{{ url(feature.image) }}">{% endif %} 
                <img alt="{{ feature.headline|raw }}" class="img-fluid" src="{{ url(feature.image) }}" />
              {% if feature.link %}</a>{% endif %} 
            </div>
          </div>
        {% endfor %} 

      </div><!-- ./row -->
    </div><!-- ./features -->
{% endblock %}