{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
		<div class="container-fluid">
			<div class="row what">
        <div class="col-md-6">
          	{% if particle.image %}<img src="{{ url(particle.image) }}" class="img-fluid center-block" alt="{{ particle.headline|e }}" />{% endif %} 
        </div>

        <div class="col-md-4">
	          {% if particle.headline %}<h1>{{ particle.headline|raw }}</h1>{% endif %} 
            <hr class="vr" />
						{% if particle.description %}<p class="lead">{{ particle.description|raw }}</p>{% endif %}
            
          	{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="btn btn-lg btn-primary-light" role="button">{{ particle.linktext|e }}</a></p>{% endif %} 

        </div>
        <div class="col-md-2">
        </div>
      </div><!-- ./row  -->
    </div><!-- what -->

{% endblock %}