{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    {% set url = url(particle.url)|default(gantry.siteUrl()) %}
    {% if (url == gantry.siteUrl()) %}{% set rel='rel="home"' %}{% endif %}
    {% set class=(particle.class ? 'class="'~ particle.class ~'"') %}


<a href="{{ url }}" title="{{ particle.text }}" {{ rel|default('')|raw }} class="navbar-brand hidden-sm-down">
    {% set image = url(particle.image) %}
    {% if image %}
    <img src="{{ url(particle.image) }}" alt="{{ particle.text }}" />
    {% else %}
    {{ particle.text|default('Home') }}
    {% endif %}
</a>
{# fixme for mobile view #}
<a class="navbar-brand hidden-sm-up" href="{{ url }}">
	<img alt="{{ particle.text }}" src="{{ url(particle.image) }}" class="img-fluid" style="height:38px;"/>
</a>

<button class="navbar-toggler hidden-sm-up pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" style="font-weight: 800; color: black;">
  &#9776;
</button>      

{% endblock %}
