{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

	<div class="col-sm-4">
    {% if particle.title %}<h2 class="title">{{ particle.title|raw }}</h2>{% endif %}
    <div class="{{ particle.css.class }}">
        {% for item in particle.items %}
            <a target="{{ particle.target|default('_blank')|e }}" href="{{ item.link|e }}" title="{{ item.text|e }}">
                <span class="{{ item.icon|e }}"></span>
                <span class="g-social-text">{{ item.text|e }}</span>
            </a>
        {% endfor %}
    </div>

	</div> 
</div><!-- ./menu row -->

{% endblock %}
