{% try %}
{% set menu = gantry.menu.instance(particle) %}
{% catch %}
<div class="alert alert-error">{{ e.getMessage }}</div>
{% endtry %}

{% macro getCustomWidth(item, menu, mode, dropdown_type) -%}
    {%- if (item.width|default('auto') != 'auto') and not (dropdown_type == 'fullwidth' and item.level > 1) -%}
        {%- if mode == 'item' %} style="position: relative;"
        {%- elseif mode == 'submenu' %} style="width:{{ item.width|e }};" data-g-item-width="{{ item.width|e }}"
        {%- endif %}
    {%- endif %}
{%- endmacro %}

{% macro displayParticle(item, context) %}
    {% if item.options.particle.enabled is null or item.options.particle.enabled %}
        {% set context = context|merge({ particle: item.options.particle }) %}
        {# {% set classes = item.options.block.class %} #}
        {# <div class="menu-item-particle{{ classes ? ' ' ~ classes }}"> #}
        {% include ['particles/' ~ item.particle ~ '.html.twig', '@particles/' ~ item.particle ~ '.html.twig']
        ignore missing with context only %}
        {# </div> #}
    {% endif %}
{% endmacro %}

{% macro displayTitle(item) %}
    {% if not item.icon_only or not (item.image or item.icon) %}
        {# <span class="g-menu-item-title"></span> #}
        {{ item.title|e }}
        {% if item.subtitle %}
            {# <span class="g-menu-item-subtitle"></span> #}
            <br/>
            {{ item.subtitle|e }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro displayItem(item, menu, context, dropdown_type, site_url) %}
    {% import _self as SELF %}
    {% if item.visible %}
        {% set title = item.icon_only ? ' title="' ~ item.title|e ~ '"' %}
        {% set active = menu.isActive(item) ? ' active' %}
        {% set dropdown = item.level == 1 ? ' g-' ~ item.getDropdown()|e %}
        {% set parent = item.children ? ' nav-item-parent' %}
        {% set target = item.target != '_self' ? ' target="' ~ item.target|e ~ '"' %}
        {% set rel = item.rel ? ' rel="' ~ item.rel ~ '"' %}        

        {% if item.type == 'particle' %}
            {# particle start
            {{ SELF.displayParticle(item, context) }}
            particle stop #}
        {% else %}
            <li class="nav-item {{ item.type|e }} {{ item.id|e }}:
                {% if not item.dropdown_hide %}{{ parent|raw }}{% endif %}{{ active|raw }}{{ dropdown|raw }} 
                {% if item.url and item.children %}{% if not item.dropdown_hide %}g-menu-item-link-parent{% endif %}{% endif %} "
                    {{ item.class|e|default('') }}
                    {{- SELF.getCustomWidth(item, menu, 'item', dropdown) }}
                    {%- if context.particle.renderTitles|default(0) %} title="{{ item.title|e }}"{% endif %}>

                {% if item.url %}<a class="nav-link {{ item.anchor_class ? ' ' ~ item.anchor_class }}" href="{{ item.url|e }}{{ item.hash ? item.hash|e : '' }}"{{ (title ~ target ~ rel)|raw }}>{{ SELF.displayTitle(item) }}
                {% else %}

                    {# {% if item.type == 'heading' %}
                        <span class="g-nav-header g-menu-item-content"{{ title|raw }}>{{ SELF.displayTitle(item) }}</span>
                    {% else %}
                        <span class="g-separator g-menu-item-content"{{ title|raw }}>{{ SELF.displayTitle(item) }}</span>
                    {% endif %} #}
                {% endif %}
                
                {% if item.url %}</a>
                {% else %}
                    {% if (item.children) -%}
                        {{ SELF.displayTitle(item) }}
                        <ul>
                            {{ SELF.displaySubmenu(item, menu, context, dropdown_type, site_url) }}
                        </ul>
                    {%- endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{# {% macro displayContainers(item, menu, context, dropdown_type) %}
    {% import _self as SELF %}
        {% set groups = item.getDropdown() == 'standard' ? [item] : item.groups %}
        {% for column, items in groups %}
            {{ SELF.displayItems(items, menu, context, dropdown_type) }}
        {% endfor %}
{% endmacro %} #}

{% macro displayItems(items, menu, context, dropdown_type, site_url) %}
    {% import _self as SELF %}
    {% for item in items %}
        {% if item.level == 1 %}{% set dropdown_type = item.dropdown %}{% endif %}
        {{ SELF.displayItem(item, menu, context, dropdown_type, site_url) }}

    {% endfor %}
{% endmacro %}

{% macro displaySubmenuItems(items, menu, context, dropdown_type, site_url) %}
    {% import _self as SELF %}
    {% for item in items %}
        {# {% if item.level == 1 %}{% set dropdown_type = item.dropdown %}{% endif %} #}        
        <li class="nav-item"><a class="nav-link" href="{{ site_url }}/{{ item.path }}">{{ item.title }}</a></li>
        {# {{ SELF.displayItem(item, menu, context, dropdown_type) }} #}
    {% endfor %}
{% endmacro %}

{% macro displaySubmenu(item, menu, context, dropdown_type, site_url) %}
    {% import _self as SELF %}
    {% if not item.dropdown_hide %}
        {% set animation = context.gantry.config.get('styles.menu.animation')|default('g-fade') %}
        {% if ((item.groups|length == 1 and not dropdown_type == 'fullwidth') or dropdown_type == 'standard') %}{% set dropdown_dir = 'g-dropdown-' ~ item.dropdown_dir|default('right') %}{% endif %}
        {# <ul class="g-dropdown g-inactive {{ animation }} {{ dropdown_dir }}"{{ SELF.getCustomWidth(item, menu, 'submenu', dropdown_type) }}> #}
        {{ SELF.displaySubmenuItems(item, menu, context, dropdown_type, site_url) }}
    {% endif %}
{% endmacro %}

{% if menu.root.count() %}
<!-- ./Touch Menu start -->
    <div class="collapse navbar-toggleable-xs hidden-sm-up" id="exCollapsingNavbar2">
        <ul class="nav nav-vertical">
          {{ _self.displayItems(menu.root, menu, _context, '', gantry.siteUrl()) }}

         {#  
          <li class="nav-item">
            <a class="nav-link" href="success_stories.html">Success Stories</a>
          </li>     

          <li class="nav-item">
            <a class="nav-link" href="#">Quote</a>
          </li> 

          #}
        </ul>
    </div>
<!-- ./Touch Menu end -->
{% endif %}