{% set attr_extra = '' %}
{% if segment.attributes.extra %}
    {% for attributes in segment.attributes.extra %}
        {% for key, value in attributes %}
            {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set html %}
    {% if segment.children %}
        {% for segment in segments %}
            {% include '@nucleus/layout/' ~ segment.type ~ '.html.twig' with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
{% endset %}

{% if html|trim %}
    {# <div {% if segment.attributes.id %}id="{{ segment.attributes.id|e }}"{% endif %}
         {{ attr_extra|raw }}
         class="g-grid{{ segment.attributes.class ? ' ' ~ segment.attributes.class|join(' ')|e }}">
      {{ html|raw }}
    </div> #}

    {{ html|raw }}


    
{# 
    {% if not (boxed == 5 or boxed == 6) %}
    {{ html|raw }}
    {% endif %} #}


    {# Container (fluid) + container #}
{#     {% if boxed == 5 %}
    {% set attr_class = attr_class ? ' class="container ' ~ attr_class|trim ~ '"' %}
    <div class="container {{ segment.attributes.class ? ' ' ~ segment.attributes.class|join(' ')|e }}">      
        {{ html|raw }}      
    </div>
    {% endif %} #}

    {# Container (fluid) + row #}
  {#   {% if boxed == 6 %}
    {% set attr_class = attr_class ? ' class="row ' ~ attr_class|trim ~ '"' %}
    <div class="row {{ segment.attributes.class ? ' ' ~ segment.attributes.class|join(' ')|e }}">
        {{ html|raw }}
    </div>
    {% endif %} #}

    {# <!-- ./grid --> #}

{% endif %}


