{% set tag_type = segment.subtype|default('section') %}
{% set attr_id = segment.attributes.id ?: 'g-' ~ segment.id %}
{% set attr_class = segment.attributes.class %}
{% set attr_extra = '' %}
{% set boxed = segment.attributes.boxed %}
{% if boxed is not null %}
    {% set boxed = boxed|trim == '' ? gantry.config.page.body.layout.sections : boxed %}
{% endif %}

{% if segment.attributes.extra %}
    {% for attributes in segment.attributes.extra %}
        {% for key, value in attributes %}
        {# {% set attr_extra = attr_extra ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %} #}
        {% set attr_extra = attr_extra ~ value|e('html_attr') %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% set html %}
    {% if segment.children %}
        {% for segment in segments %}
            {% include '@nucleus/layout/' ~ segment.type ~ '.html.twig' with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
{% endset %}

{% if html|trim %}
{#     {% if boxed is not null and (boxed == 0 or boxed == 2) %}
        <h1>boxed is {{boxed}} = 0 or 2</h1>
        {% set html %}
        <div class="g-container">{{ html|raw }}</div>
        {{ html|raw }}
        {% endset %}
    {% endif %} #}

    {# {% set html %}
    {% if boxed == 2 %}{% set attr_class = attr_class ~ ' g-flushed' %}{% endif %}
    {% set attr_class = attr_class ? ' class="' ~ attr_class|trim ~ '"' %}
    <{{ tag_type }} id="{{ attr_id }}"{{ attr_class|raw }}{{ attr_extra|raw }}>
    </{{ tag_type }}>
    <h1>boxed is {{boxed}} = 2</h1>
    {{ html|raw }}
    {% endset %} #}

    {% if boxed == 3 %}
    {#  Remove Container #}
    {{ html|raw }}
    {% endif %}


    {% if boxed == 4 %}
    {# Navigation #}
        <nav class="navbar navbar-light bg-faded">
            {{ html|raw }}            
        </nav>
    {% endif %}

    {% if boxed == 5 %}
    {# Container (fluid) + attr as inner class #}
    {% set attr_class = attr_class ? ' class="container-fluid ' ~ attr_class|trim ~ '"' %}
    <div {{ attr_class|raw }}>  
        <div class="{{ attr_extra|raw }}">
        {{ html|raw }}      
        </div>
    </div>
    {% endif %}

    {# Single Row + Col #}
    {% if boxed == 6 %}
        <div class="row">
            <div class="col-md-offset-2 col-md-10">  
    
                {{ html|raw }} 

                <div class="container page bottom">
                  <div class="row page-bottom-nav">
                      <div class="col-xs-12">
                        {# <div class="center-block-small">
                          <a class="btn btn-lg btn-primary-light cbutton cbutton--effect-marko" href="#steel" role="button">Call to action</a>              
                        </div> #}
                      </div>
                  </div> <!-- ./load more -->
                </div><!-- ./container page bottom --> 

            </div>
        </div>
    {% endif %}

{% endif %}
